<div class="signupdiv">
    <div class="createSub">
        <h6 style="text-align: center">Create Subscribe</h6>
        <div style="display: inline-flex; margin: 10px" >
            <div style="width: 300px; padding-right: 5px"><input type="text" name="find" id="findUser" class="form-control" placeholder="Пошук" ></div>
            <div><button id="button" type="submit" class="btn btn-primary btn-sm" style="height: 30px">Пошук</button></div>
        </div>
        <div style="text-align: right; padding: 10px">
            <button type="submit" id="findall" class="btn btn-primary btn-sm">Вибрати усіх</button>
        </div>
        <div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Key</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <!--<tr>
                    <th scope="row"><input type="checkbox" id="check" value=""></th>
                    <td>asdf</td>
                    <td>affasd</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox" id="check" value=""></th>
                    <td>asdf</td>
                    <td>affasd</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox" id="check" value=""></th>
                    <td>asdf</td>
                    <td>affasd</td>
                </tr>-->
                </tbody>
            </table>
        </div>
        <div style="text-align: center; padding-bottom: 10px" ><button id="save" type="submit"  class="btn btn-primary btn-sm">Зберегти</button></div>
    </div>
</div>

<script src="front/createSub.js"></script>