{{>header}}
<div class="signupdiv" style="padding-top: 70px;">
    <div class="createSub" style="box-shadow: 0 0 10px rgba(0,0,0,0.5)">
        <h6 style="text-align: center">All Subscribes</h6>
        <div style="display: inline-flex; margin: 10px" >
            <div style="width: 300px; padding-right: 5px"><input type="text" name="find" id="findUser" class="form-control" placeholder="Пошук" ></div>
            <div><button id="button" type="submit" class="btn btn-primary btn-sm" style="height: 30px">Пошук</button></div>
        </div>
        <div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Subscribes</th>
                    <th scope="col">Option</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
        <br>
    </div>
</div>
<script src="front/allSubscribes.js"></script>