<div class="center">
    <h5 style="text-align: center; margin: 10px">
        Для того шоб увійти натисніть кнопку увійти
    </h5>
    <div class="button_center">
        <button type="button" class="btn btn-outline-light"><a href="">Увійти</a></button>
    </div>
    <h5 style="text-align: center; margin: 10px">
        Для того щоб зареєструватись натисність кнорку Реєстрація
    </h5>
    <div class="button_center">
        <button type="button" class="btn btn-outline-light"><a href="">Реєстрація</a></button>
    </div>
</div>