<div class="signupdiv">
    <div style="width: 300px; height: 320px; margin-left: auto; margin-right: auto; margin-top: 100px; background-color: #FFFFFF;border-radius: 25px;box-shadow: 0 0 10px rgba(0,0,0,0.5);">
        <div class="text-center">
            <form class="form-signin" action="/registration" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Реєстрація</h1>
                <label for="inputEmail" class="sr-only">Логін або пошта</label>
                <input type="text" id="inputText" name="login" class="form-control" placeholder="Логін/пошта" style="margin-bottom: 10px;margin-right:auto; margin-left: auto; width: 200px;">
                <label for="inputPassword" class="sr-only">Пароль</label>
                <input type="password" id="inputPassword" name="password1" class="form-control" placeholder="Пароль" style="margin-bottom: 10px;margin-right:auto; margin-left: auto; width: 200px;">
                <label for="inputPassword" class="sr-only">Повторний пароль</label>
                <input type="password" id="inputPassword"  name="password2" class="form-control" placeholder="Повторний пароль" style="margin-bottom: 10px;margin-right:auto; margin-left: auto; width: 200px;">
                <label for="inputPassword" class="sr-only">Емейл</label>
                <input type="email" id="inputEmail"  name="email" class="form-control" placeholder="Емейл" style="margin-bottom: 10px;margin-right:auto; margin-left: auto; width: 200px;">
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 10px;margin-right:auto; margin-left: auto; width: 200px;">Увійти</button>
            </form>
        </div>
    </div>
</div>