{{>header}}
<div class="signupdiv" style="padding-top: 70px;">
    <form id="action">
        <div class="createSub" style="box-shadow: 0 0 10px rgba(0,0,0,0.5)">
            <div style="text-align: center"><h6><input type="text" name="nameSub" value={{nameSub}} id="nameSub" disabled style="border: none; text-align: center"></h6></div>
            <div><input class="form-control" type="text" id="name" name="name" style="width: 200px; margin-right: auto ; margin-left: auto" placeholder="Ім'я відправника"></div>
            <div style="text-align: center;margin-top: 10px">
                <p>Коментарі</p>
                <textarea id="comment" name="comment" cols="40" rows="3" style="width: 80%"></textarea>
            </div>

            <div style="text-align: center">
                <label for="file">Виберіть файл для завантаження:</label>
                <input type="file" id="file" name="file" multiple>
            </div>

            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;"><input type="submit" class="btn btn-outline-primary"  value="SEND" style="margin-bottom: 2%" id="send"></div>
        </div>
    </form>
</div>

<script src="/front/sendEmails.js"></script>