{{>header}}
<div class="signupdiv" style="padding-top: 70px;">
    <div class="createSub" style="box-shadow: 0 0 10px rgba(0,0,0,0.5)">
        <div><h6><input type="text" value="{{name}}" disabled; style="border: none;text-align: center" id="NameSub"></h6></div>
        <div><table class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table></div>

    </div>
</div>

