.center{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 250px;
    background-color: gray;
    margin: -100px 0 0 -200px;
}
.button_center{
    text-align: center;
}
a{
    color: #FFFFFF;
}
a:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.signupdiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #B3E5FC
}